p {
    color: rgb(72, 90, 129);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #dd3012;
    font-size: x-large;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}